.done-recipes-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.done-recipes-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .done-recipes {
    background: white;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .done-recipes-container {
    display: flex;
    flex-direction: column;
  }

  .card-recipes-img {
    border-radius: 10px;
    width: 200px;
    text-align: center;
  }

  .icons {
    align-items: center;
    display: flex;
    position: absolute;
    left: 40%;
    width: 30px;
  }

  .format-btn {
    align-items: center;
    display: flex;
    position: relative;
  }

  button {
    color: gray;
    border: none;
    border-radius: 10px;
    margin-left: 20%;
    width: 120px;
  }
}

