body {
  margin: 0;
  padding: 0;
}

.done-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-recipes {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  padding: 20px;
  text-align: center;
}

img {
  border-radius: 10px;
}

.card-recipes-img {
  object-fit: cover;
  width: 300px;
}

.natiOrCat {
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.card-recipes button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.icon-share {
  height: 1.1rem;
  width: 1.5rem;
}

@media screen and (min-width: 600px) {
  .done-recipes {
    padding: 1rem;
  }

  .card-recipes {
    margin: 2rem;
    max-width: 20rem;
  }

  .card-recipes-img {
    height: 20rem;
  }

  .natiOrCat {
    width: auto;
  }
}

@media screen and (min-width: 800px) {
  .done-recipes {
    justify-content: flex-start;
  }

  .card-recipes {
    max-width: 20rem;
  }

  .card-recipes-img {
    height: 16rem;
  }

  .text {
    text-align: left;
  }
}
