main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.done-buttons {
  display: flex;
  flex-direction: column;
  margin: 2px;
  justify-content: center;
}

.button-filter {
  padding: 10px 20px;
  margin: 2px 10px;
  border: none;
  border-radius: 10px;
  background-color: #f0d435;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #4a3f04;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-filter:hover,
.button-filter:focus {
  background-color: #ccc;
}

.button-filter:active {
  transform: translateY(1px);
}

@media (max-width: 768px) {
  .button-filter {
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
  }
}
