.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #37ba37;
  height: 8vh;
  padding: 0 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.icone-recipes {
  width: 45px;
}

.title-food {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 0 10px;
}

.right-section {
  display: flex;
  align-items: center;
}

.container-inputs {
  display: flex;
  gap: 9px;
  
}

.input-profile,
.input-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input-profile svg,
.input-search svg {
  width: 20px;
  height: 20px;
  fill: #333;
}

.input-profile:hover,
.input-search:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.input-profile:active,
.input-search:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.input-search {
  margin-left: 10px;
  position: relative;
}

.input-search svg {
  width: 18px;
  height: 18px;
  fill: #333;
}

.search-input {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  max-width: 320px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.search-input input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
  background-color: #f2f2f2;
}

.search-input input:focus {
  background-color: #fff;
}


.input-profile:focus,
.input-search:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-copy {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #e67e22;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-copy:hover {
  background-color: #d35400;
}

.icone-recipes:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.title-food:hover {
  color: #e67e22;
  transition: all 0.3s ease;
}
