.profile {
  height: 100vh;
}

.profile-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-around;
}

button {
  height: 50px;
  width: 300px;
}

button:hover {
  background-color: green;
  color: white;
  font-size: larger;
  font: 1.2rem;
}

.profile-user {
  font-size: 20px;
  font-weight: 700;
  margin-top: 80px;
}